[Unit]
Description=Mount EC2 Instance Store
Before=ollama.service

[Mount]
What=/dev/nvme1n1
Where=/mnt/instance-store
Type=ext4
Options=defaults,noatime

[Install]
WantedBy=multi-user.target